.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 15em;
  height: 3.5em;
  padding: 5px;
  background: -webkit-linear-gradient(top, #FFF 0%, #039be5 100%);
  background: linear-gradient(to bottom, #FFF 0%, #039be5 100%);
  cursor: pointer;
  list-style-type: none;
}
 
.search-result li:hover {
  background: -webkit-linear-gradient(top, #EEFFFF 0%, #0000CC 100%);
  background: linear-gradient(to bottom, #EEFFFF 0%, #0000CC 100%);
}
 
.search-result li a {
  margin-top: 1em;
  color: #696969;
  display: block;
  text-decoration: none;
}
 
.search-result li a:hover {
  color: #fff;
}

.search-result li a:active {
  color: #fff;
}

#search-box {
  width: 18em;
  height: 1.8em;
  font-size: 1.2em;
  padding-left: 0.5em;
}
 
ul.search-result {
  margin-top: 0;
  padding-left: 0;
}